<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e98b7c">  <td>21/09/18 21:05:36</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;ExtentReportGenerator.endReport()[pri:0, instance:InceptialAutomation.ExtentReportGenerator@4bb33f74]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="e98b7c">  <td>21/09/18 21:05:36</td>   <td>-55</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExtentReportGenerator.failTest()[pri:0, instance:InceptialAutomation.ExtentReportGenerator@4bb33f74]">failTest</td> 
  <td>main@505021446</td>   <td></td> </tr>
<tr bgcolor="e98b7c">  <td>21/09/18 21:05:36</td>   <td>-9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentReportGenerator.getResult(org.testng.ITestResult)[pri:0, instance:InceptialAutomation.ExtentReportGenerator@4bb33f74]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="e98b7c">  <td>21/09/18 21:05:36</td>   <td>-9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentReportGenerator.getResult(org.testng.ITestResult)[pri:0, instance:InceptialAutomation.ExtentReportGenerator@4bb33f74]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="e98b7c">  <td>21/09/18 21:05:36</td>   <td>-9</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ExtentReportGenerator.getResult(org.testng.ITestResult)[pri:0, instance:InceptialAutomation.ExtentReportGenerator@4bb33f74]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="e98b7c">  <td>21/09/18 21:05:36</td>   <td>-36</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExtentReportGenerator.passTest()[pri:0, instance:InceptialAutomation.ExtentReportGenerator@4bb33f74]">passTest</td> 
  <td>main@505021446</td>   <td></td> </tr>
<tr bgcolor="e98b7c">  <td>21/09/18 21:05:36</td>   <td>-15</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExtentReportGenerator.skipTest()[pri:0, instance:InceptialAutomation.ExtentReportGenerator@4bb33f74]">skipTest</td> 
  <td>main@505021446</td>   <td></td> </tr>
<tr bgcolor="e98b7c">  <td>21/09/18 21:05:36</td>   <td>-151</td> <td>&nbsp;</td><td title="&gt;&gt;ExtentReportGenerator.startReport()[pri:0, instance:InceptialAutomation.ExtentReportGenerator@4bb33f74]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@505021446</td>   <td></td> </tr>
</table>
