<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="aed86c">  <td>21/08/21 02:05:38</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTestNg.GmailLinkTest()[pri:2, instance:InceptialAutomation.GoogleTestNg@53976f5c]">GmailLinkTest</td> 
  <td>main@891786282</td>   <td></td> </tr>
<tr bgcolor="aed86c">  <td>21/08/21 02:05:39</td>   <td>1037</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GoogleTestNg.beforeMethod()[pri:0, instance:InceptialAutomation.GoogleTestNg@53976f5c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@891786282</td>   <td></td> </tr>
<tr bgcolor="aed86c">  <td>21/08/21 02:05:45</td>   <td>7016</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GoogleTestNg.afterMethod()[pri:0, instance:InceptialAutomation.GoogleTestNg@53976f5c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@891786282</td>   <td></td> </tr>
<tr bgcolor="aed86c">  <td>21/08/21 02:05:39</td>   <td>1037</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GoogleTestNg.beforeMethod()[pri:0, instance:InceptialAutomation.GoogleTestNg@53976f5c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@891786282</td>   <td></td> </tr>
<tr bgcolor="aed86c">  <td>21/08/21 02:05:45</td>   <td>7016</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GoogleTestNg.afterMethod()[pri:0, instance:InceptialAutomation.GoogleTestNg@53976f5c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@891786282</td>   <td></td> </tr>
<tr bgcolor="aed86c">  <td>21/08/21 02:05:43</td>   <td>5237</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTestNg.extentTest()[pri:3, instance:InceptialAutomation.GoogleTestNg@53976f5c]">extentTest</td> 
  <td>main@891786282</td>   <td></td> </tr>
<tr bgcolor="aed86c">  <td>21/08/21 02:05:32</td>   <td>-5472</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="GoogleTestNg.GoogleTitleTest()[pri:1, instance:InceptialAutomation.GoogleTestNg@53976f5c]">GoogleTitleTest</td> 
  <td>main@891786282</td>   <td></td> </tr>
<tr bgcolor="aed86c">  <td>21/08/21 02:05:45</td>   <td>7016</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;GoogleTestNg.afterMethod()[pri:0, instance:InceptialAutomation.GoogleTestNg@53976f5c]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@891786282</td>   <td></td> </tr>
<tr bgcolor="aed86c">  <td>21/08/21 02:05:39</td>   <td>1037</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;GoogleTestNg.beforeMethod()[pri:0, instance:InceptialAutomation.GoogleTestNg@53976f5c]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@891786282</td>   <td></td> </tr>
</table>
